::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
@media (max-width: 540px) {
  nav {
    flex-direction: column;
  }
  nav:hover .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 2rem;
  }
}
nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  width: 25%;
  background-color: #f75311;
}
@media (max-width: 540px) {
  nav .logo {
    width: 100%;
  }
}
nav .logo img {
  padding-left: 1rem;
  height: 3rem;
}
nav .logo h3 {
  color: white;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}
nav .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  width: 75%;
  background-color: #374249;
}
@media (max-width: 540px) {
  nav .links {
    display: none;
  }
}
nav .links a {
  text-decoration: none;
  color: #b2b3b3;
  padding: 0 2rem;
}
nav .links a:hover {
  text-decoration: underline;
}
@media (max-width: 540px) {
  nav .links a {
    padding-bottom: 2rem;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 80vh;
  margin-top: 4rem;
  padding-bottom: 16vh;
  background-image: url("../img/intro.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  header {
    padding-bottom: 22vh;
  }
}
@media (max-width: 540px) {
  header {
    height: 60vh;
    padding-bottom: 0vh;
  }
}
header .heading-container {
  color: white;
  background-color: rgba(48, 50, 51, 0.6705882353);
  padding: 0.5rem 15%;
  text-align: center;
}
@media (max-width: 540px) {
  header .heading-container {
    width: 100%;
    padding: 0rem 0rem 2rem 0rem;
    background-color: black;
  }
  header .heading-container p {
    font-size: 0.85rem;
  }
}
header .heading-container .heading-flex {
  display: flex;
  width: 100%;
}
header .heading-container .heading-flex h1 {
  font-size: 7vh;
  font-weight: 400;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  header .heading-container .heading-flex {
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  header .heading-container .heading-flex {
    flex-direction: column;
  }
}
header .heading-container p {
  font-weight: 300;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .btn-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 6rem;
}
main .btn-section button {
  color: #797979;
  background-color: white;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid #797979;
  width: fit-content;
}
main .btn-section button:hover {
  color: white;
  background-color: #cfd1d3;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
@media (max-width: 540px) {
  main .btn-section button {
    font-size: 12px;
    margin: 0;
    padding: 1rem;
  }
}
@media (max-width: 540px) {
  main .btn-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
main .card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f3f7f9;
  padding: 3rem;
}
@media (max-width: 540px) {
  main .card-section {
    padding: 1rem 0;
  }
}
main .card-section .card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}
main .card-section .card-container .card {
  width: 14vw;
  height: 17vw;
  margin: 1rem;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  main .card-section .card-container .card {
    width: 25vw;
    height: 23vw;
  }
}
@media (max-width: 540px) {
  main .card-section .card-container .card {
    width: 90vw;
    height: 52vw;
  }
}
main .card-section .card-container .card:hover .card-text {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7019607843), rgba(255, 255, 255, 0.5019607843));
  padding: 0.5rem 0.5rem 2.5rem 0.5rem;
  transition: opacity 0.5s ease;
}
main .card-section .card-container .card:nth-child(1) {
  background-image: url("../img/1.jpg");
  background-size: cover;
}
main .card-section .card-container .card:nth-child(2) {
  background-image: url("../img/2.jpg");
  background-size: cover;
}
main .card-section .card-container .card:nth-child(2) {
  background-image: url("../img/2.jpg");
  background-size: cover;
}
main .card-section .card-container .card:nth-child(3) {
  background-image: url("../img/3.jpg");
  background-size: cover;
}
main .card-section .card-container .card:nth-child(4) {
  background-image: url("../img/4.jpg");
  background-size: cover;
}
main .card-section .card-container .card:nth-child(5) {
  background-image: url("../img/5.jpg");
  background-size: cover;
}
main .card-section .card-container .card:nth-child(6) {
  background-image: url("../img/6.jpg");
  background-size: cover;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  main .card-section .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
@media (max-width: 540px) {
  main .card-section .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
main .card-section .card-container .card-text {
  opacity: 0;
}
@media (max-width: 540px) {
  main .card-section .card-container .card-text {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7019607843), rgba(255, 255, 255, 0.5019607843));
    padding: 0.5rem 0.5rem 2.5rem 0.5rem;
  }
}
main .price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
main .price-container h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #374249;
  text-transform: uppercase;
}
main .price-container p {
  color: #797979;
  padding-bottom: 3rem;
  font-size: 0.75rem;
}
@media (max-width: 540px) {
  main .price-container p {
    padding-bottom: 1rem;
  }
}
main .price-container .price-table {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #797979;
  border-right: 1px solid #797979;
  border-top: none;
  border-left: none;
}
main .price-container .price-table div {
  color: #797979;
  border: 1px solid #797979;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  font-size: 1.25rem;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  main .price-container .price-table div {
    font-size: 0.9rem;
    padding: 7px 17px;
  }
}
main .price-container .price-table .div1 {
  grid-area: 1/1/3/7;
  border: none;
}
main .price-container .price-table .div2 {
  grid-area: 1/7/2/11;
  background-color: #f75311;
  color: white;
}
main .price-container .price-table .div3 {
  grid-area: 2/7/3/10;
  background-color: #374249;
  color: white;
}
main .price-container .price-table .div4 {
  grid-area: 2/10/3/11;
  background-color: #374249;
  color: white;
}
main .price-container .price-table .div5 {
  grid-area: 3/1/6/4;
  background-color: #f75311;
  color: white;
}
main .price-container .price-table .div6 {
  grid-area: 3/4/4/7;
  background-color: #374249;
  color: white;
}
main .price-container .price-table .div7 {
  grid-area: 4/4/5/7;
  background-color: #374249;
  color: white;
}
main .price-container .price-table .div8 {
  grid-area: 5/4/6/7;
  background-color: #374249;
  color: white;
}
main .price-container .price-table .div9 {
  grid-area: 3/7/4/10;
}
main .price-container .price-table .div10 {
  grid-area: 3/10/4/11;
}
main .price-container .price-table .div11 {
  grid-area: 4/7/5/10;
}
main .price-container .price-table .div12 {
  grid-area: 4/10/5/11;
}
main .price-container .price-table .div13 {
  grid-area: 5/7/6/10;
}
main .price-container .price-table .div14 {
  grid-area: 5/10/6/11;
}
@media (max-width: 540px) {
  main .price-container .price-table {
    display: none;
  }
}
main .price-container button {
  color: #797979;
  background-color: white;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid #797979;
  width: fit-content;
}
main .price-container button:hover {
  color: white;
  background-color: #cfd1d3;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
@media (max-width: 540px) {
  main .price-container button {
    font-size: 12px;
    margin: 0;
    padding: 1rem;
  }
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  main .price-container button {
    display: none;
  }
}
@media (min-width: 1281px) {
  main .price-container button {
    display: none;
  }
}
main .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  background-color: #f3f7f9;
}
main .contact h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #374249;
  text-transform: uppercase;
}
main .contact .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  main .contact .form-container {
    flex-direction: column;
    width: 100vw;
  }
}
@media (max-width: 540px) {
  main .contact .form-container {
    flex-direction: column;
    width: 100vw;
  }
}
main .contact .form-container .map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
@media (min-width: 1281px) {
  main .contact .form-container .map #map-sm {
    display: none;
  }
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  main .contact .form-container .map #map-lg {
    display: none;
  }
}
@media (max-width: 540px) {
  main .contact .form-container .map #map-lg {
    display: none;
  }
}
main .contact .form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 1.5rem;
  margin-left: 2rem;
  background-color: #f75311;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  main .contact .form-container form {
    flex-direction: column;
    width: 70%;
    margin-left: 0rem;
    margin-top: 2rem;
  }
}
@media (max-width: 540px) {
  main .contact .form-container form {
    flex-direction: column;
    width: 90%;
    margin-left: 0rem;
    margin-top: 2rem;
    padding: 1rem;
  }
}
main .contact .form-container form div input {
  position: relative;
  border: none;
  outline: none;
}
main .contact .form-container form div input[placeholder] {
  padding: 0.75rem;
}
main .contact .form-container form .sender {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .contact .form-container form .sender select {
  width: 30%;
  border: none;
  outline: none;
  margin-right: 2rem;
  height: 40px;
  color: #b2b3b3;
  padding-left: 0.75rem;
}
@media (max-width: 540px) {
  main .contact .form-container form .sender select {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
}
main .contact .form-container form .sender input {
  width: 70%;
}
main .contact .form-container form .sender input::placeholder {
  color: #b2b3b3;
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 540px) {
  main .contact .form-container form .sender input {
    width: 100%;
  }
}
@media (max-width: 540px) {
  main .contact .form-container form .sender {
    flex-direction: column;
  }
}
main .contact .form-container form .email {
  width: 100%;
  padding-top: 1.5rem;
}
@media (max-width: 540px) {
  main .contact .form-container form .email {
    padding-top: 1rem;
  }
}
main .contact .form-container form .email input {
  width: 100%;
  height: 40px;
}
main .contact .form-container form .email input::placeholder {
  color: #b2b3b3;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}
main .contact .form-container form .message {
  width: 100%;
  padding-top: 1.5rem;
}
@media (max-width: 540px) {
  main .contact .form-container form .message {
    padding-top: 1rem;
  }
}
main .contact .form-container form .message input {
  width: 100%;
  height: 80px;
}
main .contact .form-container form .message input::placeholder {
  color: #b2b3b3;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374249;
  color: #b2b3b3;
  padding: 1rem 0;
  font-weight: 500;
}
footer span {
  color: #f75311;
  margin-left: 5px;
}

/*# sourceMappingURL=styles.css.map */
