@import "vars";

// Media queries
@mixin media-query($break-point) {
  @if $break-point == sm {
    @media (max-width: 540px) {
      @content;
    }
  }
  @if $break-point == md {
    @media screen and (max-width: 1280px) and (min-width: 541px) {
      @content;
    }
  }
  @if $break-point == lg {
    @media (min-width: 1281px) {
      @content;
    }
  }
}

// Positions
@mixin position-x-center($position: fixed, $top: 0) {
  position: $position;
  top: $top;
  left: 50%;
  transform: translateX(-50%);
}

@mixin position-y-center($position: absolute, $left: 0%) {
  position: $position;
  left: $left;
  top: 50%;
  transform: translateY(-50%);
}

// Flex
@mixin flexy($content: center, $items: center) {
  display: flex;
  justify-content: $content;
  align-items: $items;
}

// Elements

@mixin links {
  text-decoration: none;
  color: $linkColor;
  padding: 0 2rem;
  &:hover {
    text-decoration: underline;
  }
  @include media-query(sm) {
    padding-bottom: 2rem;
  }
}

@mixin btns {
  button {
    color: $fontColor;
    background-color: white;
    margin-left: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid $fontColor;
    width: fit-content;
    &:hover {
      color: white;
      background-color: $hoverColor;
      cursor: pointer;
    }
    @include media-query(sm) {
      font-size: 12px;
      margin: 0;
      padding: 1rem;
    }
  }
}

@mixin card {
  .card {
    width: 14vw;
    height: 17vw;
    margin: 1rem;
    @include media-query(md) {
      width: 25vw;
      height: 23vw;
    }
    @include media-query(sm) {
      width: 90vw;
      height: 52vw;
    }
    &:hover .card-text {
      opacity: 1;
      background: linear-gradient(to bottom, #ffffffb3, #ffffff80);
      padding: 0.5rem 0.5rem 2.5rem 0.5rem;
      transition: opacity 0.5s ease;
    }
    &:nth-child(1) {
      background-image: url("../img/1.jpg");
      background-size: cover;
    }
    &:nth-child(2) {
      background-image: url("../img/2.jpg");
      background-size: cover;
    }
    &:nth-child(2) {
      background-image: url("../img/2.jpg");
      background-size: cover;
    }
    &:nth-child(3) {
      background-image: url("../img/3.jpg");
      background-size: cover;
    }
    &:nth-child(4) {
      background-image: url("../img/4.jpg");
      background-size: cover;
    }
    &:nth-child(5) {
      background-image: url("../img/5.jpg");
      background-size: cover;
    }
    &:nth-child(6) {
      background-image: url("../img/6.jpg");
      background-size: cover;
    }

    // &:hover {
    //   color: white;
    //   background-color: $hoverColor;
    //   cursor: pointer;
    // }
    // @include media-query(sm) {
    //   font-size: 12px;
    //   margin: 0;
    //   padding: 1rem;
    // }
  }
}

// @mixin section($color, $bgColor) {
//   background-color: $bgColor;
//   color: $color;
//   width: 100vw;
//   min-height: 35vh;
//   @include media-query(sm) {
//     width: 98vw;
//   }
// }
