// Background colors:
$orangeColor: #f75311;
$darkBlueColor: #374249;
$lightBlueColor: #f3f7f9;
$headingBgColor: #303233ab;

// Font colors:
$fontColor: #797979;
$linkColor: #b2b3b3;
$headingColor: #374249;

// Hover colors:
$hoverColor: #cfd1d3;

// Other usefull vars:
$navHeight: 4rem;
