@import "vars";
@import "mixins";

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  @include flexy(flex-start, center);
  height: 4rem;
  .logo {
    @include flexy(flex-start, center);
    background-color: $orangeColor;
    height: 100%;
    width: 25%;
    padding-left: 1rem;
    h3 {
      color: white;
      font-weight: 100;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 1px;
    }
    img {
      height: 3rem;
    }
  }

  .links {
    @include flexy(flex-start, center);
    background-color: $darkBlueColor;
    height: 100%;
    width: 25%;
    padding-left: 1rem;
  }
}

header {
  @include flexy(center, flex-start);
}

main {
  @include flexy();
  flex-direction: column;
}

footer {
  @include flexy();
}
