@import "vars";
@import "mixins";

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

nav {
  @include position-x-center();
  @include flexy(flex-start, center);
  width: 100%;
  @include media-query(sm) {
    flex-direction: column;
    &:hover .links {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding-top: 2rem;
    }
  }
  .logo {
    @include flexy(flex-start, center);
    height: 4rem;
    width: 25%;
    background-color: $orangeColor;
    @include media-query(sm) {
      width: 100%;
    }
    img {
      padding-left: 1rem;
      height: 3rem;
    }
    h3 {
      color: white;
      font-weight: 300;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 1px;
    }
  }

  .links {
    @include flexy(flex-start, center);
    height: 4rem;
    width: 75%;
    background-color: $darkBlueColor;
    @include media-query(sm) {
      display: none;
    }
    a {
      @include links;
    }
  }
}

header {
  @include flexy(center, flex-start);
}

main {
  @include flexy();
  flex-direction: column;
}

footer {
  @include flexy();
}
